@import "../../Styles/theme.scss";

.Login {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  > div {
    display: none;
  }

  .activated {
    display: block;
    position: absolute;
    top: 5%;
    left: 30%;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fc4903;
    color: white;
    font-weight: 500;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 1000;

    img {
      width: 15px;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  section {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginContainer {
      height: 80%;
      width: 50%;
      text-align: left;

      header {
        display: flex;
        flex-direction: column;

        .logo {
          width: 100px;
          height: 40px;
        }

        .loginText {
          margin: 30px 0;
          font-size: 30px;
          font-weight: bold;
          color: #4d4d4d;
        }
      }

      form {
        width: 100%;
        border-bottom: grey solid 2px;

        .loginBox {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            margin: 10px 0;
            font-size: 14px;
            color: #737373;
          }

          input {
            height: 35px;
            border-radius: 3px;
            font-weight: normal;
            border: 1px solid gray;
            padding: 5px 15px;

            &:focus::placeholder {
              visibility: hidden;
            }
          }
        }

        .optionBox {
          display: flex;
          justify-content: space-between;
          margin: 15px 0;

          span {
            font-size: 11px;
            line-height: 16px;
            margin: 0px;
            color: rgb(168, 174, 179);
          }
        }

        button {
          width: 100%;
          height: 40px;
          margin-bottom: 15px;
          border-style: none;
          border-radius: 3px;
          color: white;
          font-weight: bold;
          background-color: $theme-color;
          cursor: pointer;

          &:hover {
            background-color: #00bd78;
          }
        }
      }

      footer {
        margin-top: 30px;
        font-size: 11px;
        font-weight: normal;
        color: rgb(168, 174, 179);
        text-align: center;
        line-height: 15px;

        span {
          color: #57a5c2;
        }
      }
    }
  }

  aside {
    width: 50vw;
    background-size: 100% 100%;
  }
}
