@import "../../Styles/theme.scss";

@mixin bgDefault {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.WallpaperDetail {
  padding-top: 50px;

  main {
    .imgWrap {
      position: relative;
    }

    .wallpaperImg {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 1080px;
    }

    .creatorInfo {
      position: relative;
      padding: 30px 0 50px;
      margin-top: 70px;
      border-top: 1px solid #ecf0f2;

      h4 {
        margin: 0 0 15px;
        font-size: 20px;
        font-weight: 600;
      }

      .detailes {
        display: flex;
        margin: 0 0 35px;
        justify-content: flex-start;
        align-items: center;

        li {
          display: flex;
          align-items: center;
          .profileImg {
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            @include bgDefault;
          }

          &:after {
            display: inline-block;
            width: 1px;
            height: 11px;
            margin: 0 10px 0 10px;
            background: #ccc;
            content: "";
          }

          &:last-child:after {
            display: none;
          }

          em,
          span {
            color: #959595;
            font-size: 14px;
            font-weight: 300;
          }

          em {
            display: inline-block;
            margin: 0 5px;
          }

          .creator {
            color: #111;
          }

          .color {
            color: $theme-color;
          }
        }
      }

      .btnWrap {
        position: absolute;
        top: 31px;
        right: 0;

        ul {
          display: flex;
          align-items: center;

          li {
            .share {
              display: inline-block;
              width: 24px;
              height: 20px;
              background-size: 315px 314px;
              background-position: -272px -171px;
              background-image: url(/Images/sp_grafolio_ratio.png);
              text-indent: -9999em;
            }

            .declaration {
              display: inline-block;
              width: 3px;
              height: 17px;
              background-size: 315px 314px;
              background-position: 0 -297px;
              background-image: url(/Images/sp_grafolio_ratio.png);
              text-indent: -9999em;
            }
          }

          li + li {
            margin-left: 20px;
          }
        }
      }

      .tag {
        ul li {
          float: left;
          height: 30px;
          margin: 0 10px 10px 0;
          padding: 0 14px;
          color: #aaa;
          font-size: 14px;
          text-align: center;
          line-height: 30px;
          border-radius: 16px;
          background-color: #f4f4f4;
          font-weight: 300;
          vertical-align: top;
          word-break: break-all;

          &:before {
            content: "#";
            margin-right: 2px;
          }
        }
      }

      .copyRight p {
        padding: 5px 0;
        color: #aeaeae;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.5px;
      }
    }
  }

  aside {
    border-top: 20px solid #f4f4f4;

    .similarTit {
      padding: 49px 0 16px;
      color: #555;
      font-weight: 600;
    }
  }
}
