@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

.clearFix:after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  background: none;
}
