@mixin borderProperty {
    border: 1px solid #ececec;;
    border-top: none;
}

@mixin itemAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnItemAlign {
    font-size: 13px;
    margin-top: -2px;
    margin-left: 5px;
}

@mixin fontSettings {
    color: #aaaaaa;
    font-size: 13px;
}

.Card {
    overflow: hidden;
    max-width: 297px;

    a {
    color: #1a1a1a;
        text-decoration: none;
    }

    .cardListArtArea {
        img {
            display: inline-block;
            width: 100%;
        }
    }

    .cardListInfoArea {
        padding: 15px 13px;
        @include borderProperty();

        
        .cardListArtName {
            display: block;
            margin-bottom: 10px;
            padding: 1px;
            overflow: hidden;
            white-space: nowrap;
            font-size: 15px;
            font-weight: bold;
            text-overflow: ellipsis;
        }
        
        .cardListAuthorProfile {
            width: 22px;
            margin-right: 8px;
        }

        .cardListAuthorName {
            @include fontSettings();
        }
    }

    .cardListBtnArea {
        @include borderProperty();
        display: flex;
        padding: 14px 15px;
        justify-content: space-between;
        border-top: none;


        div {
            margin-right: 10px;
        }

        .flaotLeft{
            display: flex;
            @include fontSettings();

            .cardListIconContainer {
                @include itemAlign();
                
                .cardListIcons {
                    font-size: 18px;
                }

                .btnAreaInfo {
                    @include btnItemAlign();
                }
            }
            
        }
        
        .flaotRight {
            @include fontSettings();
            
            .cardListIconContainer {
                @include itemAlign();
                
                .cardListIcons {
                    font-size: 18px;
                }
                
                .btnAreaInfo {
                    @include btnItemAlign();
                }
            }
        }
    }
}