@import "../../Styles/theme.scss";

.WorksList {
  .listBanner {
    position: relative;
    min-height: 210px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;

    .inner {
      position: absolute;
      left: 50%;
      top: 50%;
      min-height: 109px;
      transform: translate(-50%, -50%);

      .listCategoryWrap {
        position: relative;

        button {
          background: none;
          padding: 0;
          border: none;
          font-size: 33px;
          color: $color-white;

          .icon {
            margin-left: 10px;
            font-size: 20px;
          }
        }

        .listCategory {
          display: none;
          position: absolute;
          top: calc(100% + 15px);
          left: 50%;
          transform: translateX(-50%);
          border: 1px solid #ddd;
          background: $color-white;

          li {
            border-bottom: 1px solid #ddd;

            a {
              display: block;
              padding: 16px;
              min-width: 260px;
              text-decoration: none;
              font-size: 16px;
              text-align: center;
              color: #555;
            }
          }

          li:last-child {
            border-bottom: none;
          }
        }

        button.active + .listCategory {
          display: block;
        }
      }

      .tags {
        margin: 25px 0 0;
        display: flex;

        li {
          margin: 0 4px;
          padding: 0 15px;
          background: rgba(0, 0, 0, 0.125);
          border: solid 1px rgba(255, 255, 255, 0.2);
          border-radius: 19px;
          text-decoration: none;
          line-height: 34px;
          color: $color-white;
        }
      }
    }
  }

  .listFilter ul {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 20px;

      button {
        padding: 0;
        background: none;
        border: none;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.7;
        color: #555;
      }
    }

    li.active button {
      border-bottom: 2px solid #111;
      font-weight: 500;
    }
  }

  .PopularCreator {
    .list {
      > li {
        float: left;
        width: 25%;
        padding: 0 0 30px;

        .inner {
          border: 1px solid #ececec;
          background: $color-white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
        }

        .profileInfo {
          padding: 30px;
          text-align: center;

          h5 {
            margin: 20px 0 12px;
            font-size: 20px;
          }

          p {
            display: -webkit-box;
            height: 2.6em;
            white-space: normal;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 14px;
            font-weight: 300;
            color: #555;
          }

          .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;

            li {
              margin: 0 10px;
              font-size: 14px;
              color: $font-color;

              .icon,
              em {
                vertical-align: middle;
              }

              .icon {
                margin-right: 3px;
              }
            }
          }
        }

        .artistProfileImg {
          display: inline-block;
          width: 80px;
          height: 80px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 100%;
          overflow: hidden;

          img {
            opacity: 0;
          }
        }
      }

      > li + li {
        padding-left: 15px;
      }
    }

    .imgThumWrap {
      display: flex;
      li {
        flex: 1;
        a {
          display: block;
          height: 85px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          img {
            opacity: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
