@import "../../Styles/theme.scss";

.commentForm {
  width: 1200px;
  height: 173px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;

  .name {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 10px;
  }

  input {
    border: none;
    top: 50px;
    position: absolute;
    left: 15px;
    width: 95%;
    height: 30px;

    input ::placeholder {
      font-size: 12px;
      color: #cccccc;
      position: absolute;
      left: 20px;
      top: 30px;
      border: none;
    }
  }

  .textLength {
    font-size: 13px;
    position: absolute;
    left: 1140px;
    top: 100px;
    color: #7f7f7f;
  }
  .upload {
    height: 43px;
    width: 100%;
    border-top: 1px solid #cccccc;
    position: absolute;
    top: 130px;
    font-size: 12px;
    color: #7f7f7f;

    .secretComment {
      position: absolute;
      left: 10px;
      top: 14px;
    }

    button {
      background-color: $theme-color;
      width: 68px;
      height: 100%;
      position: absolute;
      left: 1134px;
      border: none;
      border-radius: 2px;
      color: white;
      font-weight: bold;
    }
  }
}
