@import '../../Styles/common.scss';

.commentList {
  position: relative;
  list-style: none;
  padding-top: 10px;
  .commentWrap {
    position: relative;
    .imgAndName {
      position: relative;
      width: 1200px;
      border-top: 1px solid #e2e2e2;
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }

      .name {
        position: absolute;
        left: 30px;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 10px;
      }
    }
    .comment {
      font-size: 15px;
      padding-bottom: 10px;
    }

    .date {
      color: #999;
      font-size: 12px;
      font-weight: 500;
    }

    .heart {
      position: absolute;
      bottom: 10px;
      z-index: 1;

      left: 1150px;
      width: 30px;
      height: 22px;
      margin: 0 auto;
      border: 1px solid #ededed;
      text-align: center;
    }
    .cancel {
      position: absolute;
      left: 1120px;
      bottom: 10px;
    }
  }
}
