@import "../../Styles/theme.scss";

.DetailPages {
  margin: 0;
  padding: 50px 0 0;
  position: relative;

  .leftArrow {
    display: block;
    position: fixed;
    top: 500px;
    left: 40px;
    width: 56px;
    height: 56px;
  }
  .rightArrow {
    display: block;
    position: fixed;
    top: 500px;
    right: 40px;
    width: 56px;
    height: 56px;
  }

  .firstContainer {
    .titleBox {
      width: 100%;
      height: 120px;

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        span {
          font-size: 19px;
          font-weight: bold;
        }

        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 15px;
          height: 16px;
        }
      }

      .titleWriter {
        display: flex;
        flex-direction: row;
        color: #959595;
        font-size: 14px;
        margin-top: 10px;

        .titleby {
          font-style: italic;
        }

        .writerName {
          color: #666;
          padding-left: 7px;
          padding-right: 7px;
        }

        .date {
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          padding-left: 7px;
          padding-right: 7px;
        }

        .view {
          padding-left: 7px;
        }
      }
    }
    main {
      .artwork {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        max-height: 1080px;
      }

      .artwork + .artwork {
        margin-top: 30px;
      }

      .artworkDescribe {
        margin-top: 40px;
        margin-bottom: 32px;

        img {
          width: 22px;
          height: 22px;
        }

        .artworkSelect {
          font-size: 13px;
          padding-left: 10px;
        }

        .date {
          color: #a1a1a1;
          font-size: 13px;
          padding-left: 10px;
        }
      }

      .tag {
        margin-bottom: 15px;

        span {
          width: 30px;
          margin: 0 10px 10px 0;
          padding: 0 14px;
          color: #aaa;
          background-color: #f4f4f4;
          border-radius: 16px;
        }
      }

      .copyRight {
        color: #a1a1a1;
        font-size: 13px;
      }

      .likeBtn {
        position: relative;
        height: 250px;
        border-bottom: 1px solid #e6e6e6;

        ul {
          display: flex;
          position: absolute;
          top: 100px;
          left: 450px;

          li {
            display: flex;
            flex-direction: column;
            margin-left: 50px;

            button {
              outline: none;
              cursor: pointer;

              img {
                width: 40px;
                margin: 0 auto;
              }
            }

            .text {
              color: #aaaaaa;
              font-size: 12px;
              text-align: center;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            .text:hover {
              color: $theme-color;
            }

            .number {
              font-size: 16px;
              text-align: center;
              margin-bottom: 15px;
            }
          }
        }
      }
      .commentParts {
        display: flex;
        position: relative;
        margin-top: 20px;

        .commentImg {
          display: flex;
          align-items: center;

          img {
            width: 25px;
          }

          span {
            color: #555;
            font-size: 13px;
            padding: 0 10px 0 10px;
          }
        }

        .comment {
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            color: #555;
            font-size: 13px;
            padding: 0 10px 0 10px;
          }

          .commentDot {
            width: 20px;
            height: 20px;
            color: #555;
          }
          button {
            outline: none;
            .downArrow {
              color: #555;
            }
          }
        }

        .share {
          position: absolute;
          left: 1200px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .emptyBar {
    height: 25px;
    margin-top: 20px;
    background-color: #f4f4f4;
  }

  .secondContainer {
    width: 1250px;
    margin: 0 auto;

    header {
      display: flex;
      position: relative;
      width: 100%;
      height: 130px;
      border-bottom: 1px solid #e6e6e6;
      margin-top: 70px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .writerAndFollower {
        margin: 10px 0 0 20px;

        .writer {
          font-size: 18px;
          font-weight: bold;
          padding-left: 10px;
        }

        .followers {
          display: flex;
          flex-direction: row;
          padding-top: 10px;

          .follow {
            padding-left: 10px;

            .followerText {
              color: #aaa;
              font-size: 13px;
            }

            .followerNumber {
              font-size: 13px;
            }
          }
        }
      }
    }
    .otherArtworks {
      font-size: 16px;
      font-weight: bold;
      padding: 30px 0 0 30px;

      .others {
        color: #555;
      }

      .numbers {
        color: #a1a1a1;
        padding-left: 5px;
      }
    }
  }
}
.final {
  background-color: #f4f4f4;

  .finalContainer {
    font-size: 14px;
    margin-top: 80px;
    font-weight: bold;
    padding: 50px 0 0 10px;

    .photo {
      display: block;
      margin-bottom: 25px;
    }
  }
}
