.LikeEmoji {
  li {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    img {
      width: 40px;
      margin: 0 auto;
    }

    .text {
      color: #aaaaaa;
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .number {
      font-size: 16px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
